.map {
  position:absolute;
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  left:0;
  top:0;
}

.map.left {
  top: 47px;
  height: calc(100% - 47px);
  width:50%;
}

.map.right {
  top: 47px;
  height: calc(100% - 47px);
  width:50%;
  left:50%;
}

#panel {
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    background-color: white;
    box-shadow: -30px 0px 100px 0px #888;
    width:300px;
    z-index:1000;
    overflow-x: hidden;
}

#comparison-header {
  width: 100%;
  height: 47px;
}

#comparison-header .o-grid__cell {
  margin:4px;
  margin-top:5px;
}

#comparison-header .see-city {
  padding-top:10px;
  padding-left:5px;
}

.comparison-intro {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20%;
}

.comparison-settings {
  width: 100%;
  max-height:400px;
  padding: 15px 0;
  overflow: auto;
  background-color: white;
  position:relative;
  z-index:1000;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 3px 0 0 rgba(0,0,0,0.1);
}

@media (max-width: 600px){
    #panel {
        width: 100%;
    }
}

.panel-full-width {
  width:100% !important;
}

.popup-feature-info {
  display: block;
  margin-top:5px;
  padding-right:5px;
  min-width:200px;
}

.popup-feature-adjacent {
  border-top: 1px dashed #c0c0c0;
  padding-top: 7px;
  margin-top: 5px;
}

.station-popup {
  display: block;
  margin-bottom:10px;
  font-size:1.15em;
}


.popup-transport-mode {
  margin-right: 5px;
  margin-top:4px;
}

.popup-data {
  display: none;
}

.popup-data-title {
  padding-top: 5px;
  font-style: italic;
}

.popup-data-toggle {
  width: 100%;
  display: block;
  text-align: right;
  margin-top: 5px;
}

.popup-data-checkbox {
  display: none;
}

.popup-data-toggle > span {
  font-weight: bold;
}

.popup-data-toggle > .show-more {
  display: block;
}

.popup-data-toggle > .show-less {
  display: none;
}

input.popup-data-checkbox:checked + .popup-data { display: block; }
input.popup-data-checkbox:checked + .popup-data + .popup-data-toggle > .show-more { display: none; }
input.popup-data-checkbox:checked + .popup-data + .popup-data-toggle > .show-less { display: block; }

.panel-header {

}

.panel-header-title {
  padding:20px 0;
}

.panel-header-title h3.c-heading {
  display:inline;
}

.panel-header-title a.c-link {
  margin-left:10px;
  font-size:0.9em;
}

.panel-body {
    position: relative;
    overflow: auto;
    padding-bottom: 20px;
}

.editor-cards-container {
  padding:10px;
}

#edit-lines-card {
  display:none;
  margin:0;
}

.mapboxgl-popup-content {
    font-size:14px;
    box-shadow: 0 3px rgba(0,0,0,0.1);
}

/* To fix a Blace css */
#main-container {
    margin-top: -1px;
}

.line-label {
  display:inline-block;
  min-width:21px;
  text-align:center;
  border-radius:2px;
  height:20px;
  line-height:12px;
  vertical-align:top;
}

.edit-city-link {
  margin-left:10px;
}

.back-edit-city-link {
  margin-left:15px;
}

.edit-city-link span{
  vertical-align:middle;
}

.back-edit-city-link span {
  vertical-align:middle;
  line-height:12px;
}

.line-code {
  background-color: #e5eaec;
  color: #111;
  font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
  font-weight: 400;
  height: auto;
}

.alert {
  background-color: #F5A9A9;
}

.no-max-height {
  max-height:none;
}

.editor-line-color {
  border-radius:1px;
  width:45px;
  height:25px;
  box-shadow:0 0 1px rgba(0,0,0,0.5);
  margin: 5px 5px 5px 25px;
  background-color:#fff;
  position:relative;
}

.editor-line-color:hover {
  box-shadow:0 0 1px rgba(0,0,0,1);
}

.editor-line-color .color {
  cursor: pointer;
  width:39px;
  height:19px;
  border-radius:3px;
  position:absolute;
  top:3px;
  left:3px;
}

.editor-features-lines-item {
  padding: 2px 0;
}

.editor-features-lines-item .fa-close {
  position: absolute;
  right: 30px;
  margin-top:3px;
  color: #888;
}

.editor-features-lines-item .fa-close:hover {
  color: #000;
  cursor: pointer;
}

.color-picker-container {
  position:absolute;
  z-index:100000;
  cursor: default;
}

.editor-delete-warning-text {
  padding:5px 10px 5px 5px;
}

.year-container {
  padding-bottom: 8px;
}

.year-container .year-config {
  margin-top: 8px;
  margin-bottom: 8px;
}

.year-container .year-group {
  padding-bottom: 8px;
}

.year-and-km-container {
  padding: 10px 20px 20px 20px;
}

.edit-mode-buttons {
  padding: 10px 15px 20px 15px;
}

.cities-container {
  height:500px;
  overflow:auto;
  padding:10px 1px 10px 1px;
}

.lines-editor-container {
  overflow: initial;
  margin-bottom: 20px !important;
}

.lines-editor-container .c-card__item--brand {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.lines-editor-container.new-system .c-card__item--brand {
  border-radius: 4px;
}

.lines-editor-container .o-field {
  margin-left: 10px;
}

.lines-editor-container .o-field select {
  border-color: #e6e6e6;
}

.cookie-notice-container {
  background-color:#f2f2ea;
  padding:0 15px;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  z-index: 100000;
}

.cookie-notice-container button{
  float: right;
}

.modified-features-list-subitem {
  margin-right:5px;
}

.loading {
  background-color:white;
  opacity:0.5;
}

/* spinner */
/* taken from https://projects.lukehaas.me/css-loaders/ */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(44, 62, 80, 0.2);
  border-right: 1.1em solid rgba(44, 62, 80, 0.2);
  border-bottom: 1.1em solid rgba(44, 62, 80, 0.2);
  border-left: 1.1em solid #2c3e50;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* --- */

.system-toggle {
  cursor: pointer;
  padding-left:8px;
  padding-right:15px;
}

input.system-name {
  color: white;
  background: transparent;
  width: 200px;
  display: inline-block;
}

button.save-system {
  float: right;
}

.not-dragging-line .draggable-line {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.dragging-line {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.line-system-select {
  border-left-width: 1px !important;
  max-width: 200px
}

.contact-icon + .contact-icon {
  margin-left: 20px;
}

.contact-icon a {
  margin-left: 5px;
}

.landing-title {
  text-align: center;
  color: #555;
  padding-left:10%;
  padding-right:10%;
}

.landing-image {
  display: block;
  margin: 0 auto;
  width:426px;
  padding:20px;
  padding-bottom:0;
}

.landing-image img {
  margin-left:-40px;
}

@media (max-width: 426px){
    .landing-image {
      width: 100%;
    }
    .landing-image img {
      width: 100%;
      margin-left:0;
    }
    .landing-title {
      display:none;
    }
}

.cities-search-container {
  padding-top:0;
}

.data-link {
  margin-left: 10px;
}

.contributors-list {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.contributors-list li {
  padding-bottom: 5px;
}

.top-systems-list {
  display: inline-block;
  vertical-align: top;
}

.top-systems-list li {
  padding-bottom: 5px;
}

ul.auth {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.auth li {
  margin-bottom:5px;
}

ul.auth a.twitter {
  display: inline-block;
  background-color: #00aced;
  color: rgb(255, 255, 255);
  width: 190px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: bold;
  font-family: Roboto;
  background-position: initial initial;
  background-repeat: initial initial;
  line-height: 19px;
  text-decoration: none;
  cursor: default;
}

span.osm-container {
  display: block;
  margin-bottom: 10px;
}

select.osm-route {
  display: inline-block;
  border: none;
  width: auto;
}

.osm-container .preamble {
  margin-right: 10px;
}
.osm-container .members {
  display: block;
  font-size:0.8em;
}

table .narrow {
  max-width: 150px;
}

.navbar-logo {
  width: 132px;
  vertical-align: middle;
}

.cut-line {
  position: absolute;
  right: 10px;
  top: 210px;
}

.cut-line button:active {
  color: #111;
}

.system-tree {
  margin-left: 1em;
  padding-right: 1em;
}

.system-tree .c-badge {
  font-size: 0.7em;
}

.request-city {
  text-align: center;
}

.city-systems-container {
  display: block;
  position: relative;
}
.city-systems.show-less {
  max-height: 81px;
  overflow: hidden;
}

.city-systems.show-more{
  max-height: auto;
  overflow: hidden;
}

.city-systems-toggle{
  width:100%;
  padding-right: 10px;
  text-align: right;
  position: absolute;
  line-height: 38px;
}

.city-systems-toggle.show-less {
  box-shadow: 0 -3px 0px rgba(0,0,0,0.1);
}
