#map {
  position:absolute;
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  left:0;
  top:0;
}

#panel {
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    background-color: white;
    box-shadow: -30px 0px 100px 0px #888;
    width:288px;
    z-index:1000;
    overflow-x: hidden;
}

@media (max-width: 600px){
    #panel {
        width: 100%;
        display: none;
    }
}

.panel-full-width {
  width:100% !important;
}

.popup-feature-info {
    margin-top:5px;
}

.panel-header {

}

.panel-header-title {
  padding:20px 0;
}

.panel-header-title h3.c-heading {
  display:inline;
}

.panel-header-title a.c-link {
  margin-left:10px;
}

.panel-body {
    position: relative;
    overflow: auto;
    padding-bottom: 20px;
}

.editor-cards-container {
  padding:10px;
}

#edit-lines-card {
  display:none;
  margin:0;
}

.mapboxgl-popup-content {
    font-size:14px;
}

/* To fix a Blace css */
#main-container {
    margin-top: -1px;
}

.line-label {
  display:inline-block;
  min-width:21px;
  text-align:center;
  border-radius:2px;
  height:20px;
  line-height:12px;
  vertical-align:top;
}

.edit-city-link {
  margin-left:10px;
}

.back-edit-city-link {
  margin-left:15px;
}

.edit-city-link span{
  vertical-align:middle;
}

.back-edit-city-link span {
  vertical-align:middle;
  line-height:12px;
}

.line-code {
  background-color: #e5eaec;
  color: #111;
  font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
  font-weight: 400;
  height: auto;
}

.alert {
  background-color: #F5A9A9;
}

.no-max-height {
  max-height:none;
}

.editor-line-color {
  border-radius:1px;
  width:45px;
  height:25px;
  box-shadow:0 0 1px rgba(0,0,0,0.5);
  margin: 5px 5px 5px 25px;
  background-color:#fff;
  position:relative;
}

.editor-line-color:hover {
  box-shadow:0 0 1px rgba(0,0,0,1);
}

.editor-line-color .color {
  cursor: pointer;
  width:39px;
  height:19px;
  border-radius:3px;
  position:absolute;
  top:3px;
  left:3px;
}

.color-picker-container {
  position:absolute;
  z-index:100000;
}

.editor-delete-warning-text {
  padding:5px 10px 5px 5px;
}

.year-and-km-container {
  padding: 10px 20px 20px 20px;
}

.edit-mode-buttons {
  padding: 10px 15px 20px 15px;
}

.cities-container {
  padding-top:20px;
  max-height:500px;
  overflow:auto;
  padding:20px 1px 10px 1px;
}

.lines-editor-container {
  overflow: initial;
}

.cookie-notice-container {
  background-color:#f2f2ea;
  padding:0 15px;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  z-index: 100000;
}

.cookie-notice-container button{
  float: right;
}

.modified-features-list-subitem {
  margin-right:5px;
}

.loading {
  background-color:white;
  opacity:0.5;
}

/* spinner */
/* taken from https://projects.lukehaas.me/css-loaders/ */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(44, 62, 80, 0.2);
  border-right: 1.1em solid rgba(44, 62, 80, 0.2);
  border-bottom: 1.1em solid rgba(44, 62, 80, 0.2);
  border-left: 1.1em solid #2c3e50;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* --- */

.system-toggle {
  cursor: pointer;
  padding-left:8px;
  padding-right:15px;
}

input.system-name {
  color: white;
  background: transparent;
  width: 200px;
  display: inline-block;
}

button.save-system {
  float: right;
}
