// This file is only for tests. It's ignored when using Webpack since we set the
// `babelrc:false` option in the webpack config files

{
  "presets": [['@babel/preset-env', {useBuiltIns: 'usage', corejs:3}]]
}
