<!doctype html>
<html>
    <head>
        <title>Citylines</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <meta name="description" content="In citylines.co we want to build the transport systems of the World's cities" />
        <meta property="og:description" content="=In citylines.co we want to build the transport systems of the World's cities" />

        <meta property="og:title" content="Citylines" />

        <meta name="robots" content="index/follow" />

        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@citylines_co">
        <meta name="twitter:creator" content="@citylines_co">
        <meta name="twitter:title" content="citylines.co">
        <meta name="twitter:description" content="In citylines.co we want to build the transport systems of the World's cities">
        <meta name="twitter:image" content="https://cdn.pbrd.co/images/IcAF8YuIU.png">

        <link rel="icon" type="image/png" href="<%= asset_path('img/favicon-32x32.png')  %>" sizes="32x32">

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/blaze@3.2.0/dist/blaze.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.css' rel='stylesheet' />
        <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v0.16.0/mapbox-gl-draw.css' type='text/css' />
        <link rel="stylesheet" href="<%= asset_path('css/style.css') %>" />

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-92353530-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body class="c-text">
      <div id="container">
      </div>

      <script src="<%= asset_path('bundle.js') %>"></script>
    </body>
</html>
